body {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #444;
    margin: 0;
    padding: 0;
}
#title {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    color: white;
    position: absolute;
    right: 5rem;
    top: 50%;
}
#img-div {
    text-align: center;
    margin: 0;
    padding: 0;
}
#img-div img {
    width: 100%;
    height: auto;
}
#img-div figcaption {
    text-decoration: none;
    color: #333333;
    font-size: .7em;
}
#tribute-info {
    text-align: justify;
    padding: 1rem 15% 1rem 15%;
}
.links-title {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
.links {
    display: flex;
    justify-content: center;
}
#tribute-link {
    margin: 1em;
}

#tribute-link a {
    text-decoration: none;
    color: #333333;
}